### Data Integration with StreetLight Zones (Crashes - Philadelphia)

In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

### Maintaining Projections with Simple Functions

In [2]:
def get_proj(gdf):
    # Retrieve coord from layer
    coords = gdf.crs['init']
    return coords
    

def set_proj(gdf, espg_coord = 'espg:4326'):
    # Set coordinate systems / meant to be used with function get_proj to set all coords to one thing.
    gdf.crs = {'init': espg_coord}

### Read in StreetLight Data

In [3]:
# Load in StreetLight Zones
stl = gpd.read_file('../data/stl_data/128523_Pedestrians_06092020/Shapefile/128523_Pedestrians_06092020_zone_activity.shp')
print('STL Data Extent:', stl.shape[0], 'Records')

# Read in the csv information about traffic metrics from streetlight

# Pedestrians
ped = pd.read_csv('../data/stl_data/128523_Pedestrians_06092020/128523_Pedestrians_06092020_za_ped.csv')

# Bicyclists
bic = pd.read_csv('../data/stl_data/128525_Bicyclists_06092020/128525_Bicyclists_06092020_za_bike.csv')

# Vehicles
veh = pd.read_csv('../data/stl_data/128526_Vehicle_06092020/128526_Vehicle_06092020_za_all.csv')
print('File Number of Records', ped.shape[0], bic.shape[0], veh.shape[0])

STL Data Extent: 50 Records
File Number of Records 900 900 900

In [4]:
bic['Average Daily Zone Traffic (StL Index)'].head()

0    3363
1      62
2     684
3     930
4    1414
Name: Average Daily Zone Traffic (StL Index), dtype: int64

In [5]:
veh['vehicle_volume'] = veh['Average Daily Zone Traffic (StL Volume)']
bic['bicycle_volume'] = bic['Average Daily Zone Traffic (StL Index)']
ped['pedestrian_volume'] = ped['Average Daily Zone Traffic (StL Index)']

### Filter Based on Aggregates for all day/all day parts

In [6]:
# Get general aggregate terms for each mode
ped = ped.loc[ped['Day Type'] == '0: All Days (M-Su)']
ped = ped.loc[ped['Day Part'] == '0: All Day (12am-12am)']

bic = bic.loc[bic['Day Type'] == '0: All Days (M-Su)']
bic = bic.loc[bic['Day Part'] == '0: All Day (12am-12am)']

veh = veh.loc[veh['Day Type'] == '0: All Days (M-Su)']
veh = veh.loc[veh['Day Part'] == '0: All Day (12am-12am)']

print('Pedestrian Count:', ped.shape[0], '\nBicycle Count', bic.shape[0], '\nVehicle Count', veh.shape[0])

Pedestrian Count: 50
Bicycle Count 50
Vehicle Count 50

### Add ID Field and Tabular Join on the Common Field

In [7]:
# Create a common id field to join on
ped['id'] = ped['Zone ID']
bic['id'] = bic['Zone ID']
veh['id'] = veh['Zone ID']

# Merge bicycle and pedestrian data on the id field to have all the information
ped_stl = stl.merge(ped, on='id')
ped_bic_stl = ped_stl.merge(bic, on='id')
ped_bic_veh = ped_bic_stl.merge(veh, on='id')

print(ped_bic_veh.shape[0])
# Write it out to file if necessary 
# ped_bic_stl.to_file('../data/ped_bicycle_stl.shp')

ped_bic_veh.columns

50

Index(['id', 'name', 'direction', 'is_pass', 'is_bidi', 'geometry',
       'Type of Travel_x', 'Intersection Type_x', 'Zone ID_x', 'Zone Name_x',
       'Zone Is Pass-Through_x', 'Zone Direction (degrees)_x',
       'Zone is Bi-Direction_x', 'Day Type_x', 'Day Part_x',
       'Average Daily Zone Traffic (StL Index)_x', 'Avg Trip Duration (sec)_x',
       'Avg All Trip Duration (sec)_x', 'Avg Trip Length (mi)_x',
       'Avg All Trip Length (mi)_x', 'pedestrian_volume', 'Type of Travel_y',
       'Intersection Type_y', 'Zone ID_y', 'Zone Name_y',
       'Zone Is Pass-Through_y', 'Zone Direction (degrees)_y',
       'Zone is Bi-Direction_y', 'Day Type_y', 'Day Part_y',
       'Average Daily Zone Traffic (StL Index)_y', 'Avg Trip Duration (sec)_y',
       'Avg All Trip Duration (sec)_y', 'Avg Trip Length (mi)_y',
       'Avg All Trip Length (mi)_y', 'bicycle_volume', 'Type of Travel',
       'Home and Work Filter', 'Intersection Type', 'Zone ID', 'Zone Name',
       'Zone Is Pass-Through', 'Zone Direction (degrees)',
       'Zone is Bi-Direction', 'Day Type', 'Day Part',
       'Average Daily Zone Traffic (StL Volume)', 'Avg Trip Duration (sec)',
       'Avg All Trip Duration (sec)', 'Avg Trip Length (mi)',
       'Avg All Trip Length (mi)', 'vehicle_volume'],
      dtype='object')

### Read in Crash Data

In [8]:
# 2007 to 2017 data is found on the open philly data website / 2018 crash data is available from PENDOT
all_crash_2007_2017 = gpd.read_file('../data/crash/all/crash_data_collision_crash_2007_2017.shp')
all_crash_2018 = gpd.read_file('../data/crash/all/crash_2018.shp')

bic_crash_2007_2017 = gpd.read_file('../data/crash/Bicycle_2007_2017_Crash.shp')
bic_crash_2018 = gpd.read_file('../data/crash/Bicycle_2018_Crash.shp')

ped_crash_2007_2017 = gpd.read_file('../data/crash/Ped_2007_2017_Crash.shp')
ped_crash_2018 = gpd.read_file('../data/crash/Ped_2018_Crash.shp')

### Aligning the Coordinate Systems

In [9]:
# Defining Coordinate systems to make sure everything is in the same one.
coord = [all_crash_2007_2017, all_crash_2018, bic_crash_2007_2017, bic_crash_2018, ped_crash_2007_2017, ped_crash_2018]
main = ped_bic_veh
print('Coordinate system', main.crs)
main_coords = get_proj(main)

for i in coord:
    print('Before', i.crs)
    set_proj(i, espg_coord = main_coords)
    print('After', i.crs)

Coordinate system {'init': 'epsg:4326'}
Before {'init': 'epsg:4326'}
After {'init': 'epsg:4326'}
Before {}
After {'init': 'epsg:4326'}
Before {'init': 'epsg:4326'}
After {'init': 'epsg:4326'}
Before {}
After {'init': 'epsg:4326'}
Before {'init': 'epsg:4326'}
After {'init': 'epsg:4326'}
Before {}
After {'init': 'epsg:4326'}

### 2007 to 2017 Crashes

In [10]:
# Conduct a spatial join using geopandas
ped_bic_veh_crash_stl = gpd.sjoin(all_crash_2007_2017, ped_bic_veh, op='within')

# Geopandas produces a ton of duplicates for some reason (Trying to figure out stil.. )
# A work around for this is to filer based on the unique id of the crash
ped_bic_veh_crash_stl = ped_bic_veh_crash_stl.drop_duplicates(subset='crn', keep="last")
print(ped_bic_veh_crash_stl.shape[0])

# Create a crash event for one
ped_bic_veh_crash_stl['cevent']=1


dfpivot = pd.pivot_table(ped_bic_veh_crash_stl,index='name',columns='cevent',aggfunc={'cevent':len})
dfpivot.columns = dfpivot.columns.droplevel()
dfpivot.columns = ['crash_count_2007_2017']
dfpivot['name'] = dfpivot.index
dfpivot.index.names = ['idx_crash']
print(dfpivot.shape[0], 'records')
print('Number of Null Records', dfpivot['crash_count_2007_2017'].isna().sum())
dfpivot.head()

876
50 records
Number of Null Records 0

,crash_count_2007_2017,name
idx_crash,,
50 Philadelphia Selections - 01152020 Zone 01,6,50 Philadelphia Selections - 01152020 Zone 01
50 Philadelphia Selections - 01152020 Zone 02,11,50 Philadelphia Selections - 01152020 Zone 02
50 Philadelphia Selections - 01152020 Zone 03,12,50 Philadelphia Selections - 01152020 Zone 03
50 Philadelphia Selections - 01152020 Zone 04,16,50 Philadelphia Selections - 01152020 Zone 04
50 Philadelphia Selections - 01152020 Zone 05,20,50 Philadelphia Selections - 01152020 Zone 05

In [11]:
dfpivot.to_csv('../data/temp/dfpivot_test_data_all_crashes.csv')

### 2018 Crashes

In [12]:
# Conduct a spatial join using geopandas
ped_bic_veh_crash_stl = gpd.sjoin(all_crash_2018, ped_bic_veh, op='within')

# Geopandas produces a ton of duplicates for some reason (Trying to figure out stil.. )
# A work around for this is to filer based on the unique id of the crash
ped_bic_veh_crash_stl = ped_bic_veh_crash_stl.drop_duplicates(subset='CRN', keep="last")
print(ped_bic_veh_crash_stl.shape[0])

# Create a crash event for one
ped_bic_veh_crash_stl['cevent']=1


dfpivot2 = pd.pivot_table(ped_bic_veh_crash_stl,index='name',columns='cevent',aggfunc={'cevent':len})
dfpivot2.columns = dfpivot2.columns.droplevel()
dfpivot2.columns = ['crash_count_2018']
dfpivot2['name'] = dfpivot2.index
dfpivot2.index.names = ['idx_crash']
print(dfpivot2.shape[0], 'records')
print('Number of Null Records', dfpivot2['crash_count_2018'].isna().sum())
dfpivot2.head()

145
40 records
Number of Null Records 0

,crash_count_2018,name
idx_crash,,
50 Philadelphia Selections - 01152020 Zone 01,2,50 Philadelphia Selections - 01152020 Zone 01
50 Philadelphia Selections - 01152020 Zone 03,1,50 Philadelphia Selections - 01152020 Zone 03
50 Philadelphia Selections - 01152020 Zone 04,1,50 Philadelphia Selections - 01152020 Zone 04
50 Philadelphia Selections - 01152020 Zone 05,5,50 Philadelphia Selections - 01152020 Zone 05
50 Philadelphia Selections - 01152020 Zone 06,10,50 Philadelphia Selections - 01152020 Zone 06

### Put it together

In [13]:
first_join = ped_bic_veh.merge(dfpivot, on='name', how='left')
print('Number of Null Records', first_join['crash_count_2007_2017'].isna().sum())
print('Number of Records', first_join.shape[0])

Number of Null Records 0
Number of Records 50

In [14]:
second_join = first_join.merge(dfpivot2, on='name', how='left')
print('Number of Null Records for 2018', second_join['crash_count_2018'].isna().sum())
print('Number of Null Records for 2007 - 2017', second_join['crash_count_2007_2017'].isna().sum())
print('First Join', first_join.shape[0], '\nSecond_Join', second_join.shape[0])

Number of Null Records for 2018 10
Number of Null Records for 2007 - 2017 0
First Join 50
Second_Join 50

In [15]:
second_join.head()

,id,name,direction,is_pass,is_bidi,geometry,Type of Travel_x,Intersection Type_x,Zone ID_x,Zone Name_x,...,Day Type,Day Part,Average Daily Zone Traffic (StL Volume),Avg Trip Duration (sec),Avg All Trip Duration (sec),Avg Trip Length (mi),Avg All Trip Length (mi),vehicle_volume,crash_count_2007_2017,crash_count_2018
0,14162.0,50 Philadelphia Selections - 01152020 Zone 08,None,1,0,"POLYGON ((-75.15398722513029 39.9970613520998,...",Personal - Pedestrian,Trip Pass-Through,14162,50 Philadelphia Selections - 01152020 Zone 08,...,0: All Days (M-Su),0: All Day (12am-12am),139167,3035,3495,14.8,16.8,139167,19,5.0
1,14583.0,50 Philadelphia Selections - 01152020 Zone 06,None,1,0,"POLYGON ((-75.1545904552852 39.9942178225945, ...",Personal - Pedestrian,Trip Pass-Through,14583,50 Philadelphia Selections - 01152020 Zone 06,...,0: All Days (M-Su),0: All Day (12am-12am),143814,3030,3481,13.7,15.8,143814,43,10.0
2,15034.0,50 Philadelphia Selections - 01152020 Zone 11,None,1,0,"POLYGON ((-75.1552728356728 39.9911325607192, ...",Personal - Pedestrian,Trip Pass-Through,15034,50 Philadelphia Selections - 01152020 Zone 11,...,0: All Days (M-Su),0: All Day (12am-12am),112413,2976,3470,12.5,15.0,112413,21,3.0
3,15717.0,50 Philadelphia Selections - 01152020 Zone 09,None,1,0,"POLYGON ((-75.15627807447351 39.9865628994583,...",Personal - Pedestrian,Trip Pass-Through,15717,50 Philadelphia Selections - 01152020 Zone 09,...,0: All Days (M-Su),0: All Day (12am-12am),112563,2872,3452,11.3,14.1,112563,30,3.0
4,15996.0,50 Philadelphia Selections - 01152020 Zone 07,None,1,0,"POLYGON ((-75.1566156808689 39.9849782895165, ...",Personal - Pedestrian,Trip Pass-Through,15996,50 Philadelphia Selections - 01152020 Zone 07,...,0: All Days (M-Su),0: All Day (12am-12am),120296,2830,3428,11.1,14.0,120296,36,9.0

In [16]:
# Fill nan values for adding
second_join['crash_count_2007_2017'].fillna(0, inplace = True)
second_join['crash_count_2018'].fillna(0, inplace = True)

# Add crash counts together
second_join['total_crash'] = second_join['crash_count_2007_2017'] + second_join['crash_count_2018']
second_join.sort_values(by='total_crash',ascending=False).head()

# Count null values
print('Total Null Values', second_join['total_crash'].isna().sum())

Total Null Values 0

In [17]:
# To csv to check it out
second_join.to_csv('../data/output/crash/all_crash.csv')

### Pedestrians

In [18]:
# Conduct a spatial join using geopandas
ped_bic_veh_crash_stl = gpd.sjoin(ped_crash_2007_2017, ped_bic_veh, op='within')

# Geopandas produces a ton of duplicates for some reason (Trying to figure out stil.. )
# A work around for this is to filer based on the unique id of the crash
ped_bic_veh_crash_stl = ped_bic_veh_crash_stl.drop_duplicates(subset='crn', keep="last")

# Create a crash event for one
ped_bic_veh_crash_stl['cevent']=1

dfpivot = pd.pivot_table(ped_bic_veh_crash_stl,index='name',columns='cevent',aggfunc={'cevent':len})
dfpivot.columns = dfpivot.columns.droplevel()
dfpivot.columns = ['crash_count']
dfpivot['name'] = dfpivot.index
dfpivot.index.names = ['idx_crash']
print('dfpivot', dfpivot.shape[0], 'records')


# Conduct a spatial join using geopandas
ped_bic_veh_crash_stl = gpd.sjoin(ped_crash_2018, ped_bic_veh, op='within')

# Geopandas produces a ton of duplicates for some reason (Trying to figure out stil.. )
# A work around for this is to filer based on the unique id of the crash
ped_bic_veh_crash_stl = ped_bic_veh_crash_stl.drop_duplicates(subset='CRN', keep="last")

# Create a crash event for one
ped_bic_veh_crash_stl['cevent']=1


dfpivot2 = pd.pivot_table(ped_bic_veh_crash_stl,index='name',columns='cevent',aggfunc={'cevent':len})
dfpivot2.columns = dfpivot2.columns.droplevel()
dfpivot2.columns = ['crash_count']
dfpivot2['name'] = dfpivot2.index
dfpivot2.index.names = ['idx_crash']
print('dfpivot2', dfpivot2.shape[0], 'records')


first_join = ped_bic_veh.merge(dfpivot, on='name', how='left')
second_join = first_join.merge(dfpivot2, on='name', how='left')

# Fill NaN values to add
second_join['crash_count_x'].fillna(0, inplace = True)
second_join['crash_count_y'].fillna(0, inplace = True)


print('\nFirst Join', first_join.shape[0], 'Records', '\nSecond_Join', second_join.shape[0], 'Records')

second_join['total_crash'] = second_join['crash_count_x'] + second_join['crash_count_y']
second_join.sort_values(by='total_crash',ascending=False).head()
second_join['total_crash'].isna().sum()

dfpivot 44 records
dfpivot2 25 records

First Join 50 Records
Second_Join 50 Records

C:\Users\Coleman.Shepard.ctr\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\function_base.py:2167: RuntimeWarning: invalid value encountered in ? (vectorized)
  outputs = ufunc(*inputs)

0

In [19]:
second_join.to_csv('../data/output/crash/pedestrians_crash.csv')

### Bicycles

In [22]:
# Conduct a spatial join using geopandas
ped_bic_veh_crash_stl = gpd.sjoin(bic_crash_2007_2017, ped_bic_veh, op='within')

# Geopandas produces a ton of duplicates for some reason (Trying to figure out stil.. )
# A work around for this is to filer based on the unique id of the crash
ped_bic_veh_crash_stl = ped_bic_veh_crash_stl.drop_duplicates(subset='crn', keep="last")

# Create a crash event for one
ped_bic_veh_crash_stl['cevent']=1

dfpivot = pd.pivot_table(ped_bic_veh_crash_stl,index='name',columns='cevent',aggfunc={'cevent':len})
dfpivot.columns = dfpivot.columns.droplevel()
dfpivot.columns = ['crash_count']
dfpivot['name'] = dfpivot.index
dfpivot.index.names = ['idx_crash']
print('dfpivot', dfpivot.shape[0], 'records')


# Conduct a spatial join using geopandas
ped_bic_veh_crash_stl = gpd.sjoin(bic_crash_2018, ped_bic_veh, op='within')

# Geopandas produces a ton of duplicates for some reason (Trying to figure out stil.. )
# A work around for this is to filer based on the unique id of the crash
ped_bic_veh_crash_stl = ped_bic_veh_crash_stl.drop_duplicates(subset='CRN', keep="last")
print(ped_bic_veh_crash_stl.shape[0])

# Create a crash event for one
ped_bic_veh_crash_stl['cevent']=1


dfpivot2 = pd.pivot_table(ped_bic_veh_crash_stl,index='name',columns='cevent',aggfunc={'cevent':len})
dfpivot2.columns = dfpivot2.columns.droplevel()
dfpivot2.columns = ['crash_count']
dfpivot2['name'] = dfpivot2.index
dfpivot2.index.names = ['idx_crash']
print('dfpivot2', dfpivot2.shape[0], 'records')


first_join = ped_bic_veh.merge(dfpivot, on='name', how='left')
second_join = first_join.merge(dfpivot2, on='name', how='left')
print('First Join', first_join.shape[0], '\nSecond_Join', second_join.shape[0])

# Fill NaN values to add
second_join['crash_count_x'].fillna(0, inplace = True)
second_join['crash_count_y'].fillna(0, inplace = True)

second_join['total_crash'] = second_join['crash_count_x'] + second_join['crash_count_y']

print('Number of Records that are Null/NaN:', second_join['total_crash'].isna().sum())

dfpivot 34 records
15
dfpivot2 10 records
First Join 50
Second_Join 50
Number of Records that are Null/NaN: 0

In [21]:
second_join.to_csv('../data/output/crash/bicycle_crash.csv')