# Crash data prep

Data downloaded from [PennDOT webapp](https://pennshare.maps.arcgis.com/apps/webappviewer/index.html?id=8fdbf046e36e41649bbfd9d7dd7c7e7e)

Read in csv file for each year, output shapefile of crash data to join with Streetlight data

In [2]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import os

data_root = r'C:\Users\Daniel.Flynn\Documents\git\stld\data'

In [4]:
# 2018
crash_2018 = pd.read_csv(os.path.join(data_root, 'crash', 'CRASH_2018_Philadelphia.csv'))
crash_2018['DEC_LONG'].head()

0   -75.1519
1   -75.0841
2   -75.0058
3   -75.1793
4   -75.1600
Name: DEC_LONG, dtype: float64

In [5]:
# Cast Variables
crash_2018 = crash_2018.astype({'DEC_LAT':'float', 'DEC_LONG':'float'})

In [6]:
crash_2018 = gpd.GeoDataFrame(crash_2018, crs={'init':'espg:4326'},
                              geometry=[Point(xy) for xy in zip(crash_2018.DEC_LONG, crash_2018.DEC_LAT)])
crash_2018.head()

,CRN,DISTRICT,COUNTY,MUNICIPALITY,POLICE_AGCY,CRASH_YEAR,CRASH_MONTH,DAY_OF_WEEK,TIME_OF_DAY,HOUR_OF_DAY,...,PED_MAJ_INJ_COUNT,MAX_SEVERITY_LEVEL,COMM_VEH_COUNT,DEC_LAT,DEC_LONG,RDWY_SURF_TYPE_CD,COUNTY_NAME,MUNICIPALITY_NAME,COUNTY_YEAR,geometry
0,2018001306,6,67,67301,67505,2018,1,3,953,9,...,0,4,0,39.9857,-75.1519,NaN,Philadelphia,Philadelphia City,CRASH_2018_Philadelphia,POINT (-75.15190 39.98570)
1,2018006142,6,67,67301,68K01,2018,1,5,934,9,...,0,3,0,39.9946,-75.0841,NaN,Philadelphia,Philadelphia City,CRASH_2018_Philadelphia,POINT (-75.08410 39.99460)
2,2018004176,6,67,67301,68K01,2018,1,1,1734,17,...,0,0,0,40.0402,-75.0058,NaN,Philadelphia,Philadelphia City,CRASH_2018_Philadelphia,POINT (-75.00580 40.04020)
3,2018005229,6,67,67301,68K01,2018,1,2,358,3,...,0,0,0,39.9599,-75.1793,NaN,Philadelphia,Philadelphia City,CRASH_2018_Philadelphia,POINT (-75.17930 39.95990)
4,2018002147,6,67,67301,67505,2018,1,5,2151,21,...,0,0,0,39.9805,-75.1600,NaN,Philadelphia,Philadelphia City,CRASH_2018_Philadelphia,POINT (-75.16000 39.98050)

In [7]:
crash_2018.crs

{'init': 'espg:4326'}

In [9]:
crash_2018.to_file(os.path.join(data_root, 'crash', 'all', 'crash_2018.shp'))

In [11]:
# 2019
crash_2019 = pd.read_csv(os.path.join(data_root, 'crash', 'CRASH_2019_Philadelphia.csv'))
crash_2019['DEC_LONG'].head()
# Cast Variables
crash_2019 = crash_2019.astype({'DEC_LAT':'float', 'DEC_LONG':'float'})
crash_2019 = gpd.GeoDataFrame(crash_2019, crs={'init':'espg:4326'},
                              geometry=[Point(xy) for xy in zip(crash_2019.DEC_LONG, crash_2019.DEC_LAT)])
crash_2019.head()
crash_2019.to_file(os.path.join(data_root, 'crash', 'all', 'crash_2019.shp'))